<%- include('./../partials/header') %>
<%- include('./../partials/nav') %>

<main>
    <div id="dataContainer">
        <div id="dataGrid">
            <p><b>ID</b></p>
            <p><b>Category ID</b></p>
            <p><b>Images</b></p>
            <p><b>Name</b></p>
            <p><b>Description</b></p>
            <p><b>Price</b></p>
            <p><b>Options</b></p>
            <% products.forEach(product => { %>
                <div><%= product.productData.ID %></div>
                <div><%= product.mealKitData.categoryID %></div>
                <div>
                    <% product.kitImages.forEach((img) => { %>
                        <%= img.url %>, 
                    <% }); %>
                </div>
                <div><%= product.productData.name %></div>
                <div><%= product.productData.description %></div>
                <div><%= product.productData.price %></div>
                <div class="option-container">
                    <button class="edit-option" data-id="<%= product.productData.ID %>"><i class="fa-solid fa-pen"></i></button>
                    <button class="archive-option" data-id="<%= product.productData.ID %>"><i class="fa-solid fa-box-archive"></i></button>
                    <button class="remove-option" data-id="<%= product.productData.ID %>"><i class="fa-solid fa-trash"></i></button>
                </div>
            <% }); %>
        </div>
    </div>
</main>

<%- include('./../partials/footer') %>