<%- include('./../partials/header') %>
<%- include('./../partials/nav') %>

<main>
    <h2 class="text-center">Products</h2>
    <hr>
    <div class="searchbar-container"></div>
        <div class="searchbar">
            <input type="text" placeholder="Search..." id="searchbar">
            <button class="icon-button" id="searchbarSubmit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>
    <button class="icon-button" id="cartIconBttn"><i class="fa-solid fa-cart-shopping"></i></button>
    <div id="productsContainer" class="flex-container-col">
      <section>
        <h3 class="text-center">Featured Deals</h3>
        <!--Paging buttons-->
        <div class="flex-container-row paging-buttons">
            <button id="featuredDealsPrevious" class="icon-button"><i class="fa-solid fa-square-caret-left"></i></button>
            <button id="featuredDealsNext" class="icon-button"><i class="fa-solid fa-square-caret-right"></i></button>
        </div>
        <!--Featured deal cards container-->
        <div class="flex-container-row" id="featuredDeals" data-limit="<%= featuredLimit %>">
            <% let elementCount = 0 %>
            <% kitList.forEach((kit) => {%>
                <% if (kit.isFeatured) { %>
                    <div class="product-card product-card-lg <% if (elementCount >= featuredLimit) { %> hidden <% }; %>" data-card-id="<%= elementCount + 1 %>">
                        <img src="<%= kit.img %>" alt="Product Image"/>
                        <h4><%= kit.title %></h4>
                        <% if (kit.isDiscounted && kit.discountPrice) { %>
                            <p class="text-sm text-right"><ins>$<%= kit.discountPrice %></ins> <del>$<%= kit.price %></del></p>
                        <% } else { %>
                            <p class="text-sm text-right">$<%= kit.price %></p>
                        <% } %>
                        <div class="flex-container-row">
                            <button class="icon-button" onclick="displayProductModal(new Kit('<%= kit.id %>', '<%= kit.title %>', '<%= kit.description %>', '<%= kit.price %>', '<%= kit.img %>', '<%= kit.isDiscounted %>', '<%= kit.discountPrice %>'))"><i class="fa-regular fa-eye"></i></button>
                            <button class="icon-button add-to-cart" data-id="<%= kit.id %>"><i class="fa-solid fa-square-plus"></i></button>
                        </div>
                    </div>
                <% elementCount++ }; %>
            <% }); %>
        </div>
      </section>
      <section>
        <h3 class="text-center">All Kits</h3>
        <!--Paging buttons-->
        <div class="flex-container-row paging-buttons">
            <button id="allKitsPrevious" class="icon-button" onclick=""><i class="fa-solid fa-square-caret-left"></i></button>
            <button id="allKitsNext" class="icon-button" onclick=""><i class="fa-solid fa-square-caret-right"></i></button>
        </div>
        <!--All product cards container-->
        <div class="flex-container-row" id="allKits" data-limit="<%= kitLimit %>">
            <% elementCount = 0; %>
            <% kitList.forEach((kit) => {%>
                <div class="product-card product-card-md <% if (elementCount >= kitLimit) { %> hidden <% }; %>" data-card-id="<%= elementCount + 1 %>" <% if (elementCount > kitLimit) {%> style="display: hidden;" <% } %>>
                    <img src="<%= kit.img %>" alt="Product Image"/>
                    <h4><%= kit.title %></h4>
                    <% if (kit.isDiscounted && kit.discountPrice) { %>
                        <p class="text-sm text-right"><ins>$<%= kit.discountPrice %></ins> <del>$<%= kit.price %></del></p>
                    <% } else { %>
                        <p class="text-sm text-right">$<%= kit.price %></p>
                    <% } %>
                    <div class="flex-container-row">
                        <button class="icon-button" onclick="displayProductModal(new Kit('<%= kit.id %>', '<%= kit.title %>', '<%= kit.description %>', '<%= kit.price %>', '<%= kit.img %>', '<%= kit.isDiscounted %>', '<%= kit.discountPrice %>'))"><i class="fa-regular fa-eye"></i></button>
                        <button class="icon-button add-to-cart" data-id="<%= kit.id %>><i class="fa-solid fa-square-plus"></i></button>
                    </div>
                </div>
                <% elementCount++; %>
            <% }) %>
        </div>
      </section>
    </div>

    <!--Product Modal-->
    <!--Stays hidden until view product is selected on the product card, data will be dynamically
     filled by script-->
    <div id="productModalContainer" class="flex-container-col">
        <div id="productModal">
            <button id="productModalDismiss" class="icon-button" onclick="dismissProductModal()"><i class="fa-solid fa-circle-xmark"></i></button>
            <div class="flex-container-row">
                <img id="productImage" alt="Product Image"/>
                <div class="flex-container-col">
                    <h2 id="productName" class="text-center"></h2>
                    <p id="productDesc"></p>
                    <p id="productPrice" class="text-center text-lg"></p>
                    <div id="productModalButtonContainer" class="flex-container-row">
                        <button id="moreInfo" class="button-primary">More Info</button>
                        <button class="button-primary">Add to Wishlist</button>
                        <button id="modalAddToCart" class="button-primary" data-id="">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<%- include('./../partials/footer') %>